
<br/><br/><br/>
<div style="padding-left:100px;">
    
    #set($form = $formFactory.getForm('schedule.add'))
    
    <div style="margin:auto;paddding-left:100px;">
    	<form method="post" action="doAddSchedule.htm">
	
        	#set($meetingId = $!form.meetingId.value)
        	#if(!$meetingId)
        		#set($meetingId = $boardDO.meetingId)
        	#end	
        	<input type="hidden" name="$form.meetingId.name" value="$!meetingId" /> 
    		$!form.meetingId.message
    		
    		#set($boardId = $!form.boardId.value)
        	#if(!$boardId)
        		#set($boardId = $boardDO.id)
        	#end	
        	<input type="hidden" name="$form.boardId.name" value="$!boardId" /> 
    		$!form.boardId.message
    		
        	
        	<div>
        		#set($name = $!form.name.value)
        		$form.name.label: <input type="text" name="$form.name.name" size="20" value="$!name" />
        		$!form.name.message
    		</div>
    		
    		<div>
        		#set($location = $!form.location.value)
        		$form.location.label: <input type="text" name="$form.location.name" size="20" value="$!location" />
        		$!form.location.message
    		</div>
    		
    		
    		<div>
        		#set($startTime = $!form.startTime.value)
    			#set($endTime = $!form.endTime.value)
        		时间：<input type="text" name="$form.startTime.name" size="20" value="$!startTime" /> ~ <input type="text" name="$form.endTime.name" size="20" value="$!endTime" />
        		$!form.startTime.message
    			$!form.endTime.message
    		</div>
    		<br/><br/>
    		
    		
﻿			<div>
    			#foreach($meetingTeacherDO in $meetingTeacherList)
    					#if($velocityCount % 5 == 0)
    						<br/><br/>
    					#end	
        				<input type="checkbox" name="teacherStrIds" value ="$meetingTeacherDO.id">$meetingTeacherDO.name   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    			#end	
    		</div>
    		
    		<br/><br/>
    		<input type="submit" value="添加" />
    		<a href="$adminModule.setTarget('schedule/scheduleList').param('boardId', $boardDO.id)">返回</a>
    		
        </form>
    	
    </div>	
    

</div>	