
<div style="padding-left:100px;">
	版块名：$boardDO.name 日程列表  <a style="padding-right:50px;" href="$adminModule.setTarget('schedule/addSchedule').param('boardId', $boardDO.id)">添加</a>  
    <a href="$adminModule.setTarget('meetingPreEdit').param('id', $boardDO.meetingId)">返回</a>
	<br/><br/><br/>
	<table border="1">
		<tr>
			<td>开始时间~结束时间</td>
			<td>主题</td>
			<td>嘉宾</td>
			<td>地址</td>
			<td>操作</td>
		</tr>
		 #foreach($schedule in $scheduleList)
    		<tr>
    			<td>&nbsp; $dateUtil.format($schedule.startTime, 'MM-dd HH:mm') ~ $dateUtil.format($schedule.endTime, 'MM-dd HH:mm')  &nbsp;</td>
    			<td>&nbsp; $schedule.name &nbsp; </td>
    			<td>&nbsp; 
					#foreach($teacherName in $schedule.teacherList)
						$teacherName ,
					#end
				</td>
				<td>&nbsp; $schedule.location &nbsp;</td>
				<td>
					&nbsp; <a href="$adminModule.setTarget('schedule/editSchedule').param('id',$schedule.id)">编辑</a> &nbsp;
					&nbsp; <a href="$adminModule.setTarget('schedule/scheduleDelete').param('id',$schedule.id).param('boardId',$schedule.boardId)" onclick="return confirm('确定是否要删除日程？');">删除</a> &nbsp;
				</td>
    		</tr>
			
		#end
	</table>	
   
    	
    	

</div>	